<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is Teacher page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-3 mb-3 border-bottom bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="/">Digital Library</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                </ul>
                <div class="dropdown">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle text-white"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- user name -->
                        <%= user.userType %> : <%= user.name %>
                    </a>
                    <ul class="dropdown-menu text-small" style="left: -5rem;">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- HERO CONTENT -->
    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


                <!-- all albums starts -->
                <!-- semester 1 -->
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">SEMESTER 1</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                Teachers Contribution : This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/view/docs/sem/1" class="mx-2">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    </a>
                                    <a href="/uploads/sem/1">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Upload</button>
                                    </a>
                                </div>
                                <small class="text-body-secondary"><%= sem1TotalDocs %> Documents</small>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- semester 2 -->
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">SEMESTER 2</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                Teachers Contribution : This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/view/docs/sem/2" class="mx-2" >
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    </a>
                                    <a href="/uploads/sem/2">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Upload</button>
                                    </a>
                                </div>
                                <small class="text-body-secondary"><%= sem2TotalDocs %> Documents</small>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- semester 3 -->
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">SEMESTER 3</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                Teachers Contribution : This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/view/docs/sem/3" class="mx-2">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    </a>
                                    <a href="/uploads/sem/3">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Upload</button>
                                    </a>
                                </div>
                                <small class="text-body-secondary"><%= sem3TotalDocs %> Documents</small>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- semester 4 -->
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">SEMESTER 4</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                Teachers Contribution : This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/view/docs/sem/4" class="mx-2">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    </a>
                                    <a href="/uploads/sem/4">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Upload</button>
                                    </a>
                                </div>
                                <small class="text-body-secondary"><%= sem4TotalDocs %> Documents</small>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- all albums ends -->
            </div>
        </div>
    </div>

    <!-- BOTSTRAP JS LINK -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>